html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #c3f0ce;
}

a {
    color: rgb(54, 108, 54);
}

a:visited {
    color: rgb(16, 116, 104);
}

* {
    box-sizing: border-box;
}
