.site {
    max-width: 800px;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
}

.site .bigImage, .streamInfo {
    display: block;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
}

.site small {
    font-size: 70%;
}

.site footer {
    margin-top: 5rem;
}

.vstack {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.streamInfo {
    background: linear-gradient(rgba(140, 247, 172, 0.3) 0%, rgb(140, 247, 172) 100%);
    border: 1px solid rgb(117, 207, 137);
    border-radius: 6px;
    padding: 0.8rem;
    margin: 2rem auto;
    text-align: left;
    box-shadow: 4px 4px 0px 1px rgba(0, 0, 0, 0.07);
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.streamInfo img {
    margin-left: 0.8rem;
    border-radius: 3px;
    border: 1px solid rgb(117, 207, 137);
}

.streamInfo a {
    font-weight: bold;
}

/* This makes the entire box a tap target for the link inside. */
.streamInfo a::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.streamInfoHead {
    font-size: 80%;
    font-weight: bold;
    color: rgb(66, 105, 90);
    text-transform: uppercase;
}

.streamInfoLive, .streamInfoLive img {
    background: rgb(243, 78, 78);
    border-color: #c70707;
}

.streamInfoLive .streamInfoHead {
    color: rgb(255, 240, 240);
}

.streamInfoError {
    background: black;
    border-color: black;
    color: rgb(235, 235, 235);
}

.streamInfoLive a, .streamInfoError a {
    color: white;
}

.streamInfo p {
    margin: 0;
}

.pastStreamInfo {
    background: rgb(174, 250, 197);
    border-color: rgb(130, 206, 147);
    justify-content: center;
}

.streamInfo + .pastStreamInfo {
    margin-top: -0.8rem;
}

.countdown {
    text-transform: none;
}