.site {
    max-width: 800px;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
}

.site img {
    max-width: 480px;
    width: 100%;
}

.site small {
    font-size: 70%;
}

.site footer {
    margin-top: 5rem;
}

.red {
    color: #f00;
}