.site {
    max-width: 800px;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem;
}

.site .bigImage, .site .bigButton, .streamInfo, .bareTextContainer {
    display: block;
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
}

.bigImage {
    cursor: pointer;
}

.site small {
    font-size: 70%;
}

.site footer {
    margin-top: 5rem;
}

.vstack {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.streamInfo {
    background: linear-gradient(rgba(140, 247, 172, 0.3) 0%, rgb(140, 247, 172) 100%);
    border: 1px solid rgb(117, 207, 137);
    border-radius: 6px;
    padding: 0.8rem;
    margin: 2rem auto;
    text-align: left;
    box-shadow: 4px 4px 0px 1px rgba(0, 0, 0, 0.07);
    position: relative;
}

.videoBox img {
    margin-left: 0.8rem;
    border-radius: 3px;
    border: 1px solid rgb(117, 207, 137);
}

.videoBox a {
    font-weight: bold;
    text-decoration: none;
}

.streamInfo a:hover {
    text-decoration: underline;
}

/* This makes the entire box a tap target for the link inside. */
.videoBox a::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.videoBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.videoBoxCaption {
    font-size: 80%;
    font-weight: bold;
    color: rgb(66, 105, 90);
    text-transform: uppercase;
}

.streamInfoLive, .streamInfoLive .videoBox img {
    background: rgb(243, 78, 78);
    border-color: #c70707;
}

.streamInfoLive .videoBoxCaption {
    color: rgb(255, 240, 240);
}

.streamInfoError {
    background: black;
    border-color: black;
    color: rgb(235, 235, 235);
}

.streamInfoLive a, .streamInfoLive p, .streamInfoError a {
    color: white;
}

.streamInfo p {
    margin: 0;
}

.pastStreamInfo {
    background: rgb(174, 250, 197);
    border-color: rgb(130, 206, 147);
    text-align: center;
}

.pastStreamInfo a {
    text-decoration: none;
}

.streamInfo + .pastStreamInfo, .streamInfo + .bigButton {
    margin-top: -0.8rem;
}

.countdown {
    text-transform: none;
}

.isReloading .streamInfo {
    opacity: 0.5;
}

.bigButton {
    display: block;
    background: linear-gradient(rgb(70, 200, 101) 0%, rgb(36, 175, 66) 100%);
    border: 1px solid #247938;
    border-radius: 6px;
    padding: 0.8rem;
    margin: 2rem auto;
    width: 100%;
    text-align: center;
    box-shadow: 4px 4px 0px 1px rgba(0, 0, 0, 0.07);
    
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 100%
}

.bigButton:active {
    transform: translateY(2px);
    box-shadow: 4px 2px 0px 1px rgba(0, 0, 0, 0.07);
}

.bareTextContainer {
  padding: 0 0.8rem;
  margin: 0 auto -1rem auto;
  text-align: left;
}